{% extends 'base_p.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center text-primary mb-4">Iniciar sesión</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid">
                    <button type="submit" class="btn btn-secondary btn-lg">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
